<div class="flex gap-x-3">
  <div class="bg-neutral-200 rounded w-10 h-10">
  </div>

  <div>
    <div class="space-x-0.5 text-sm">
      <span class="font-medium">Name</span>
      <span class="text-neutral-400">9:41 AM</span>
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
  </div>
</div>
