<div class="flex gap-x-3">
  <div class="bg-neutral-200 rounded w-10 h-10">
  </div>

  <div>
    <div class="space-x-0.5 text-sm">
      <span class="font-medium">
        <%= message.user.name %>
      </span>
      <span class="text-neutral-400">
        <%= time_ago_in_words(message.created_at) %> ago
      </span>
    </div>
    <p>
      <%= message.body %>
    </p>
  </div>
</div>
