<%= turbo_frame_tag "content" do %>
  <% unless @room.users.include?(Current.user) %>
    <div class="mb-8 bg-neutral-50 rounded-md flex flex-col justify-center items-center p-8">
      <p class="mb-4 text-neutral-800">
        You're viewing #general.
      </p>

      <%= button_to "Join room",
        join_room_path(@room),
        data: { turbo_frame: "content" },
        class: "button button-blue button-small" %>
    </div>
  <% end %>

  <div class="space-y-2.5">
    <% 99.times do |i| %>
      <div class="flex gap-x-3">
        <div class="bg-neutral-200 rounded w-10 h-10">
        </div>

        <div>
          <div class="space-x-0.5 text-sm">
            <span class="font-medium">Name</span>
            <span class="text-neutral-400">9:41 AM</span>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
